body{
    background-color: black;
    background-image: url(/netflix/portfolio11/image/book.jpg);
    background-size: cover;
}
.photo{
    width: 250px;
    position: absolute;
    top: 25%;
    left: 15%;
    display: block;
    margin-right: 60%;
    margin-left: 10%;
    border: 1px solid black;
    border-width: 4px;
    padding: 2px;
    border-radius: 50%;
}

.name{
    position: absolute;
    top: 60%;
    left: 30%;
    font-size:larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/*.skill{
    position: absolute;
    top: 20%;
    right: 30%;
    font-size:larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.hob{
    position: absolute;
    top: 50%;
    right: 25%;
    font-size:larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
}*/
.intro{
    position: absolute;
    top: 30%;
    right: 25%;
    left: 60%;
}
.but{
    position: absolute;
    top: 80%;
    right: 25%;
    left: 60%;
    background-color:black;
    color: bisque;
    border: none;
    border-radius: 10px;
    box-shadow:0px 0px 2px 2px rgb(0,0,0);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.but:hover{
    transition: 0.7s;
    background-color:chocolate;
   
}

